* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(120deg, #000080, #42aaff, #6495ed);
}
a {
  color: #ffffff;
}

a:visited {
  
  color: #d0f0c0;
      }
      
a:hover {
  color: #000000;
      }
	  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
}
@media (min-width: 780px) {
  .container {
    width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 767px) {
  .container {
    width: 1170px;
  }
}
  .landing-page header {
  min-height: 80px;
  display: flex;
}
      
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
      
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
      
@media (max-width: 900px) {
  .landing-page header .links {
    text-align: center;
    gap: 20px;
  }
}
.landing-page header .links li {
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 900px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #ff7300;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
      
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
      
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.landing-page .content .info h1 {
  color: white;
  font-size: 38px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: white;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #ff7300;
}
landing-page .content .image {
  flex: 1;
  text-align: center;
}

.landing-page .content .image img {
  width: 90%;
  max-width: 550px;
  height: auto;
  margin-top: 50px;
  object-fit: cover; 
}
  max-width: 500px;
  height: auto;
  margin-top: 50px;
}
